@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);

    --regular-text: 15px;

    --desktop-width-wrapper: 1440px;
    --mobiel-width-wrapper: 375px;
}

* {
    font-family: 'Overpass', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.card-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: var(--desktop-width-wrapper);
    height: 100vh;
    max-height: 960px;
    background-color: var(--light-gray);
    margin: auto;
}

.card-container {
    width: 300px;
    height: 470px;
    background-color: var(--white);
    border-radius: 15px;
}

.card-content {
    width: 100%;
    height: 100%;
    padding: 15px;
}

.card-img {
    margin-bottom: 20px;
}

.card-img img {
    width: 270px;
    height: auto;
    border-radius: 10px;
}

.card-body {
    text-align: center;
    width: 100%;
}

.card-body h3 {
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 15px;
    color: var(--dark-blue);
}

.card-body p {
    font-size: var(--regular-text);
    font-weight: 400;
    color: var(--grayish-blue);
}
